<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c %m %n</pattern>
        </encoder>
    </appender>

    <appender name="testLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoding>UTF-8</encoding>
        <File>${jetty.logs}/logs/test.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c %m %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${jetty.logs}/logs/test.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.studying" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="testLogger" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="testLogger" />
    </root>

</configuration>